*{
    box-sizing: border-box;
}

.font-families{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.font-families>a{
    width: 50%;
    height: 3rem;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
}

.font-families>button:hover{
    background-color: #d2c3e0;
}

.font-families>button{
    border: none;
    margin: 0;
    padding: 0;
    width: 50%;
    height: 3rem;
    font-size: 1.4rem;
    text-align: center;
    cursor: pointer;
    background-color: inherit;
}

.arial{
    font-family: Arial;
}

.Yellowtail{
    font-family: 'Yellowtail', cursive;;
}

.Oswald{
    font-family: 'Oswald', sans-serif;
}

.Playfair{
    font-family: 'Playfair Display', serif;
}

.Orbitron{
    font-family: 'Orbitron', sans-serif;
}

.Dancing{
    font-family: 'Dancing Script', cursive;
}

.Aclonica{
    font-family: 'Aclonica';
}

.Monoton{
    font-family: 'Monoton';
}

.Bungee{
    font-family: 'Bungee Shade';
    text-align: center;
}

.Bonbon{
    font-family: 'Bonbon';
}

.Arizonia{
    font-family: 'Arizonia';
}

.Aguafina{
    font-family: 'Aguafina Script';
}

.Akronim{
    font-family: 'Akronim';
}

.Alex{
    font-family: 'Alex Brush';
}

.Amita{
    font-family: 'Amita';
}