*{
    box-sizing: border-box;
}

.layout-container{
    display: flex;
    flex-direction: column;
}


.contacts-container{
    display: flex;
    align-items: center;
    background-color: #deccf0;
    color: #312f8b;
    padding: 0;
}

.header-container {  
    background-color: #deccf0;
    color: #312f8b;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 5rem;
    z-index: 101;
 }

 .mobile-menu-container{
    display: none;
 }

.footer-container {
    /* box-shadow: 0 -0.3rem 0.3rem 0 rgba(0, 0, 0, 0.4); */
    grid-area: footer;
    background-color: #deccf0;
    color: #312f8b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu-search{
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    z-index: 100;
}

.mobile-search{
    display: none;
}

@media only screen and (max-width: 1024px) {
    
    .layout-container{
        display: flex;
        flex-direction: column;
    }

    .contacts-container{
        display: none;
    }

    .mobile-search{
        display: block;        
    }

    .mobile-menu-container{
        display: block;
     }
}
