*{
    box-sizing: border-box;
}

.make-case-layout-container{
        display: grid;
        grid-template-areas: 
        "left right";
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr;
        height: 100%;
}

.side-tools{
    grid-area: left;
    background-color: #d9cbe7;
}

.make-case-main-container {
    grid-area: right;
    display: grid;
    grid-template-areas: 
    "editorHeader"
    "editor";
    grid-template-rows: auto 1fr;
}

.make-case-header-container {
    grid-area: editorHeader;
    background-color: #ecdbff;
    color: #312f8b;
}

.editor{
    grid-area: editor;
}

@media only screen and (max-width: 1024px) {

.make-case-layout-container{
        display: grid;
        grid-template-areas: 
        "up" 
        "down";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;
        width: 100%;
        height: 100%;
        overflow: hidden;
}

.side-tools{
    grid-area: down;
    overflow: auto;
    width: 100vw;
}

.make-case-main-container {
    grid-area: up;
}

}