*{
    box-sizing: border-box;
}

.filter-container{
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.order-list{
    overflow-x:auto;
}

.order_info_button:hover{
    color: teal;
}