.admin-button{
    border-radius: 0.5rem;
    padding: 0.3rem;
}

.product-header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.filter-product-container{
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter-product-container>select{
    margin-right: 1rem;
    width: 20rem;
}

.checkbox-flex{
    display: flex;
}

table{
    width: 100%;
    color: #312f8b;
}

th{
    text-align: center;
    height: 2rem;
}

td{
    text-align: center;
    height: 2rem;
}

tbody>tr:nth-child(odd){
    background-color:rgb(232, 241, 248);
}

.admin-product-image{
    height: 3rem;
    max-width: 3rem;
}

.admin-product-image:hover{
    transform: scale(6);
}

.form-create-product{
    display: flex;
    justify-content: center;
    background-color: white;
}

.form-create-product>ul{
    width: 60%;
    
}

.form-create-product>form{
    width: 60%;
    margin-right: 1rem;
}

.feature-form li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feature-form li>div{
    display: flex;
    align-items: center;
}

.feature-form li>h2{
    width: 100%;
    text-align: center;
}

.feature-list option{
    width: 10rem;
}

.feature-list{
    width: 10rem;
    height: 1rem;
}

#row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#row>input{
    width: 20%;
}

#row>select{
    width: 64%
}

.column_flex{
    display: flex;
    flex-direction: column;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 1rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 103;
}

  /* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 1.25rem;
    border: 1px solid #888;
    width: 80%;
    max-height: 100%;
}

.modal-content ul{
    margin: 1rem;
}

.modal-content li{
    display: flex;
    align-items: center;
}

.modal-content li>label{
    width: 10rem;
    margin: 0rem 0.5rem 0rem 0.5rem;
}

.modal-content input,select, textarea{
    width: 100%;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
    color: #312f8b;
    font-size: 1rem;
}

.modal-content p{
    padding: 1rem;
}

.modalHeader{
    background-color: #deccf0;
    text-align: center;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.format_price{
    text-align: end;
    font-weight: 700;
}

.product-img-preview{
    height: 5rem;
    width: 5rem;
}

.html_editor{
    text-align: left;
}

.search_by_name{
    display: flex;
    justify-content: space-between;
    margin-left: 1.7rem;
    margin-right: 1.2rem;
    margin-top: 1rem;
    align-items: center;
}

.search_by_name>label{
    width: 10rem;
    margin-right: 0.5rem;
}

.search_by_name> input{
    width: 80%;
    padding: 0.3rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
    color: #312f8b;
    font-size: 1rem;
}

