

.reset-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-form-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 2rem;
    border: 0.1rem #c0c0c0 solid;
    border-radius: 0.5rem;
    list-style-type: none;
    margin: 1rem;
    box-shadow: 0 0.3rem 0.6rem 0 rgba(0, 0, 0, 0.4);
    color: #312f8b;
    text-align: center;
}

.reset-form-container input{
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: #312f8b;
    font-size: 1rem;
}

#reset-password-submit:disabled{
    color:  #9291df;
}

@media only screen and (max-width: 1024px) {
    .reset-form-container{
        width: 90%;
        max-width: 25rem;
    }
}