.title-center{
    text-align: center;
    margin: 1rem;
}

.order_items{
    color: #312f8b;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

.filter_collection_per_page{
    width: auto;
    margin-right: 1rem;
    padding: .3rem;
    margin: .3rem;
    margin-right: 0.3rem;
    border-radius: .5rem;
    color: #312f8b;
    font-size: 0.9rem;
}

.search-filters{
    padding-left: 1rem;
    padding-right: 1rem;
}

.filter-title{
    color: #312f8b;
    width: 100%;
    font-weight: 600;    
    padding-top: 1rem;
}


.filter-subtitle{
    display: flex;
    flex-wrap: wrap;
    font-weight: normal;
    padding-top: 0.5rem;
}

.filter-subcategory{
    margin-right: 0.5rem;
}

@media only screen and (max-width: 1024px) {
    .order_items{
        flex-direction: column;
        align-items: flex-end;    
    }

    .order_items label{
        margin-right: 0.5rem;
    }
}